* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c498d;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #c6d8ff;
}

main {
    flex: 1;
}

.cabecalho-link {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
}

footer {
    background-color: #1c498d;
}